<%= link_to "Sign out", destroy_user_session_path, data: { turbo_method: :delete } %>
<div class="user_name">
  <p>User:</p>
  <%= current_user.first_name %>
  <%= current_user.last_name %>
</div>

<%= month_calendar events: @days do |date, days| %>
  <%= date %>
  <% days.each do |day| %>
    <div>
     <%= day.user.first_name%>
     <%= day.available? %>
    </div>
  <% end %>
<% end %>
